/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    height: 100%;
}

.centreImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
// .navColour {
//     background: #e9ecef;
// }

.goalElements {
    //background-color: #025abb;
    background-color: white;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
}

li { 
    cursor: pointer; 
}

.jumbotron {
    background-color: #e4e4e4;
}